body, html {
  background-color: white;
  background-image: none;
  color: black;
}
.feedHeader {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 60px;
  letter-spacing: 70px;
  text-shadow: 3px 3px 6px rgb(226, 226, 226);
  background-color: rgb(51, 48, 48);
  color: white;
}
.postHover {
  padding: 30px;
}
.postHover:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border-radius: 12px;
}
