body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(21, 28, 32);
  background-image: url("./img/dark-mtns.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}
.whiteBackground {
  background-color: rgb(255, 255, 255);
  padding-bottom: 80px;
}
.heroText {
text-align: center;
position: absolute;
top: 58%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(255, 255, 255);
text-shadow: 2px 2px 4px black;
}
.subHead {
  font-size: 24px;
}
h1 {
  font-size: 100px;
  letter-spacing: 60px;
} 
.green {
  color: greenyellow;
}
li {
  list-style: none;
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 25px;
}
.about-me-bg {
  background-color: rgb(34, 30, 27);
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 58%;
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .about-me-txt {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(34, 30, 27);
    color: white;
  }
  #aboutHead {
    padding-top: 60px;
    padding-bottom: 30px;
    
  }
.newPostButton {
  margin-left: 42%;
  margin-top: -420px;
  padding-left: 100px;
    padding-right: 100px;
}
.listContainer {
  margin-top: -170px;
}
  .about-api-bg {
    background-color: rgb(32, 33, 34);
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px; 
    padding-bottom: 140px;
    }
    .about-api-txt {
      margin-left: 10%;
      margin-right: 10%;
      background-color: rgb(32, 33, 34);
      color: white;
    } 
.formHeader {
  padding-top: 50px;
  padding-bottom: 110px;
  font-size: 50px;
}
.formBorder {
  border: solid black;
  background-color: rgb(21, 33, 44);
  border-radius: 50%;
  padding: 130px;
}
.btn-light {
  background-color: rgb(183, 214, 135);
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.btn-light:hover {
  background-color: rgb(150, 179, 108);
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.detailPage h3{
  padding-top: 20px;
}
.detailPage {
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  padding: 50px;
  /* border-radius: 5px; */
}
  .postImg {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  .detailImg {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
.center-align {
  text-align: center;
}
.green {
  color: greenyellow;
  text-shadow: 4px 4px 5px greenyellow;
}
a {
  color: greenyellow;
}
a:hover {
  color: rgb(205, 245, 145);
  text-shadow: 3px 3px 8px greenyellow;
  text-decoration: none;
}
.formHeader {
  padding-top: 50px;
  padding-bottom: 110px;
  font-size: 50px;
}
.formBorder {
 margin-top: 15vh;
  border: solid black;
  background-color: rgb(21, 33, 44);
  border-radius: 50%;
  padding: 130px;
}
.btn-light {
  background-color: rgb(183, 214, 135);
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.btn-light:hover {
  background-color: rgb(150, 179, 108);
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
/* .detailPage h3{
  padding-top: 40px;
}
.detailPage {
  background-color: rgb(233, 233, 233);
  color: rgb(0, 0, 0);
  padding: 50px;
  border-radius: 5px;
} */
  .postImg {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  .detailImg {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
  .feedHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 60px;
    letter-spacing: 70px;
    text-shadow: 3px 3px 6px rgb(226, 226, 226);
    background-color: rgb(26, 24, 24);
    color: white;
  }
  .postHover {
    padding: 30px;
  }
  .postHover:hover {
    cursor: pointer;
    background-color: rgb(207, 204, 204);
    border-radius: 12px;
  }